# 도전 문제 #9

---

### 문제

상혁이는 만보기를 가지고 있다. 이 만보기에는 독특한 특징이 있는데 이는 바로 숫자 4를 나타낼 수 없다는 것이다. 즉, 숫자 3 다음에는 바로 5가 보여지게 된다는 것이다.

만약 현재 113이 보여지는 상태에서 한 걸음을 더 걷는다면 115로 보여지게 된다.

상혁이는 현재 이 만보기에 보여지는 수가 n이라면 원래 정상적인 만보기에 보여져야 할 수는 무엇이었는지가 궁금해졌다. 상혁이를 위해 이 문제를 해결해보자!


### 제한

1 ≤ n ≤ 10000

### 예제 입력

15

### 예제 출력

13

In [1]:
# Your code here
def real_num(n):
    if int(str(n)[-1])<4:
        return n - n//10
    else:
        return n - (n//10 + 1)

In [5]:
real_num(15)

13

In [3]:
real_num(13)

12

In [3]:
def real_num(n):
    result = 0
    for i in range(len(str(n))):
        d = n % 10
        n = n//10
        
        if d > 4:
            result += (d-1) * (9**i)
        else:
            result += d * (9**i)
    
    return result

In [4]:
real_num(150)

117